@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

@font-face {
  font-family: campton-bold;
  src: url("/fonts/CAMPTONBOLD.OTF");
}

@font-face {
  font-family: campton-semibold;
  src: url("/fonts/CAMPTONSEMIBOLD.OTF");
}

:root {
  /* farver */
  --black: #000000;
  --white: #ffffff;
  --grey500: #70727e;
  --grey400: #a3a6b4;
  --grey300: #cacdd5;
  --grey100: #f0f0f0;
  --red500: #ff1054;
  --red100: #ff799f;

  /* font-sizes til p*/
  --l: 2.3125rem;
  --s: 1rem;
  --xs: 0.625rem;

  /* font-weigth */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: campton-bold;
  font-size: 6rem;
  color: var(--white);
}

h2 {
  font-family: campton-bold;
  font-size: 3.75rem;
}

h3 {
  font-family: campton-semibold;
  font-size: 2.3125rem;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 1.4375rem;
  font-weight: var(--medium);
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 1.4375rem;
  font-weight: 400;
  color: var(--grey500);
}

.highlight {
  color: var(--red100);
  font-size: 3.75rem;
}
