---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Cta from "../components/Cta.astro";
import Info from "../components/Info.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Ikoner from "../components/Ikoner.astro";
import SoMe from "../components/So_me.astro";
import Hjerte from "../components/Hjerte.astro";
---

<BaseLayout title="Plastic Change">
  <Nav />
  <Hjerte mode="fixed" />
  <video loop autoplay muted>
    <source src="../assets/video/plastik_suppe.mp4" type="video/mp4" />
     Your browser does not support the video tag.
  </video>
  <main>
    <section class="hero_con">
      <div class="text_hero_con">
        <div class="kampagnenavn">
          <h1>Single use sucks</h1>
        </div>
        <div class="hero_background">
          <h3>
            <span class="highlight">Plastic Change</span> kæmper for en <br
            />verden uden plastikforurening
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Plastik forsager sygdom, handicap og for <br /><span
              class="highlight">tidlig død</span
            >
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Vi udleder i dag <span class="highlight">8-10 mio. ton <br /></span
            >plastik til havet om året.
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Det svarer til <span class="highlight">1 lastbil</span> med plastik <br
            /><span class="highlight">hvert minut.</span>
          </h3>
        </div>
      </div>
    </section>
  </main>
  <section class="icons">
    <Ikoner
      overskrift="Hvad er problemet med plastik?"
      svg1="../assets/icons/plastikflaske.svg"
      alt1="plastikflaske"
      svg2="../assets/icons/havogmiljoe.svg"
      alt2="miljøet og dyrelivet"
      svg3="../assets/icons/kemikalier.svg"
      alt3="skadelige kemikalier"
      text1="Sollys og saltvand bryder plastikken op i mindre dele, og bliver til mikroplast"
      text2="Mikroplasten truer havmiljøet, og kommer ind i fødekæden"
      text3="Plastik er lavet af olie og indeholder skadelige kemikalier"
      hide="not_visible"
    />
  </section>
  <section class="info_con">
    <h2>Hvor ender plastemballagen</h2>
    <div class="con_1">
      <Info
        procent="40%"
        ringp="p40"
        text="Bortskaffes på losseplads"
        icon="../assets/icons/losseplads.svg"
      />
      <Info
        procent="14%"
        ringp="p14"
        text="Genanvendt"
        icon="../assets/icons/genanvendelse.svg"
      />
    </div>
    <div class="con_1">
      <Info
        procent="14%"
        ringp="p14"
        text="Ender i miljøet"
        icon="../assets/icons/miljoe.svg"
      />
      <Info
        procent="32%"
        ringp="p32"
        text="Brændt i forbrændingsanlæg"
        icon="../assets/icons/forbraending.svg"
      />
    </div>
  </section>
  <section class="singleuse_section">
      <div class="text_con">
        <div class="background">
          <h3 class="stor_overskrift" class="right">Single Use Sucks</h3>
        </div>
        <div class="background">
          <h3 class="right">
            Plastik er fint når det <span class="highlight">genbruges</span>,<br
            /> dog er det når det er single use
          </h3>
        </div>
        <div class="background">
          <h3 class="right">
            Kort sagt.<br /><span class="highlight"> Vask og brug igen!</span>
          </h3>
        </div>
      </div>
  </section>
  <SoMe mode="dark" />
  <Nyhedsbrev mode="light" />
</BaseLayout>

<style>
  img,
  video {
    max-width: 100%;
  }
  main {
    max-width: 1200px;
    margin-inline: auto;
  }

  /**** info sektion ****/

  .info_con {
    background-color: var(--grey100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-block: var(--padding-sections);
  }

  .info_con h2 {
    text-align: center;
  }

  .con_1 {
    display: flex;
    gap: 100px;
  }

  /**** Single Use sektion ****/

  h3 {
    color: var(--grey100);
  }

  .right {
    text-align: right;
  }

  .background,
  .hero_background {
    background-color: var(--black70);
    padding-inline: 20px;
    padding-block: 10px;
  }

  .background {
    width: fit-content;
  }

  .singleuse_section,
  .hero_con {
    position: relative;
  }

  .singleuse_section {
    background-image: url(../assets/img/svane.webp);
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;   

}

  .text_con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
    padding-top: 2rem;
    max-width: 1200px;
  }

  /*** Hero ***/

  .text_hero_con {
    display: flex;
    flex-direction: column;
    gap: 80vh;
    align-items: center;
    height: 350vh;
    padding-top: 16rem; /*skal måske rettes når vi putter animation på?*/
  }

  .hero_background {
    width: 570px;
  }

  .hero_con {
    overflow: hidden;
  }

  video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -999;
    top: 0;
  }

  .kampagnenavn {
    width: auto;
    background-color: var(--black70);
    padding-inline: 20px;
    text-transform:capitalize;
    padding-block: 10px;

  }
  .stor_overskrift {
    font-family: campton-bold;
  font-size: 5rem;
  color: var(--white);
}

  /*** Icons ***/

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
  }

  /*****mobile view **********/
  @media (max-width: 800px) {
    .con_1 {
      gap: 70px;
      flex-direction: column;
      padding-inline: var(--mobile-padding-inline);
    }

    .info_con,
    .icons {
      padding-inline: var(--padding-sections);
    }
    .hero_con, .text_con{
      width: 95%;
      margin-inline: auto;
    }
    .hero_background, .background {
    width: fit-content;

  }
  /**Single Use sektion ****/
  .right {
    text-align: left;


  }
  .text_con {
    /*store div til hele teksten*/
    gap: 20px;
    padding-top: 2rem;
  }
 
  .stor_overskrift {
    /*størrelse til h3 så den ligner en overskrift*/
    font-family: campton-bold;
    font-size: 3rem;

  } 
  }
  @media (max-width: 600px) { 
    br {
        display: none;
    }
    .text_con {
      align-items: center;
    }
    .background {
      max-width: 400px;
    }

  }

  @media (max-width: 460px) {
  h1, .stor_overskrift {
      font-size: 2rem;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  /*   gsap.from(".icons", {
    y: 100,
    opacity: 0,
    duration: 0.5,
    scrollTrigger: {
      trigger: ".icons",
      start: "top 70%",
      markers: true,
    },
  }); */
</script>
