---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Cta from "../components/Cta.astro";
import Info from "../components/Info.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Ikoner from "../components/Ikoner.astro";
import SoMe from "../components/So_me.astro";
import Hjerte from "../components/Hjerte.astro";
---

<BaseLayout title="Plastic Change">
  <Nav />
  <Hjerte mode="fixed" />
  <video loop autoplay muted>
    <source src="../assets/video/plastik_suppe.mp4" type="video/mp4" />
     Your browser does not support the video tag.
  </video>
  <main>
    <section class="hero_con">
      <div class="text_hero_con">
        <div class="hero_background">
          <h3>
            <span class="highlight">Plastic Change</span> kæmper for en <br
            />verden uden plastikforurening
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Plastik forsager sygdom, handicap og for<br /><span
              class="highlight">tidlig død</span
            >
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Vi udleder i dag <span class="highlight">8-10 mio. ton<br /></span
            >plastik til havet om året.
          </h3>
        </div>
        <div class="hero_background">
          <h3>
            Det svarer til <span class="highlight">1 lastbil</span> med plastik<br
            /><span class="highlight">hvert minut.</span>
          </h3>
        </div>
      </div>
    </section>
  </main>
  <section class="icons">
    <Ikoner
      overskrift="Hvad er problemet med plastik?"
      svg1="../assets/icons/plastikflaske.svg"
      alt1="plastikflaske"
      svg2="../assets/icons/havogmiljoe.svg"
      alt2="miljøet og dyrelivet"
      svg3="../assets/icons/kemikalier.svg"
      alt3="skadelige kemikalier"
      text1="Sollys og saltvand bryder plastikken op i mindre dele, og bliver til mikroplast"
      text2="Mikroplasten truer havmiljøet, og kommer ind i fødekæden"
      text3="Plastik er lavet af olie og indeholder skadelige kemikalier"
      hide="not_visible"
    />
  </section>
  <section class="info_con">
    <h2>Hvor ender plastemballagen</h2>
    <div class="con_1">
      <Info
        procent="40%"
        ringp="p40"
        text="Bortskaffes på losseplads"
        icon="../assets/icons/losseplads.svg"
      />
      <Info
        procent="14%"
        ringp="p14"
        text="Genanvendt"
        icon="../assets/icons/genanvendelse.svg"
      />
    </div>
    <div class="con_1">
      <Info
        procent="14%"
        ringp="p14"
        text="Ender i miljøet"
        icon="../assets/icons/miljoe.svg"
      />
      <Info
        procent="32%"
        ringp="p32"
        text="Brændt i forbrændingsanlæg"
        icon="../assets/icons/forbraending.svg"
      />
    </div>
  </section>
  <section class="singleuse_section">
    <img
      src="../assets/img/svane.webp"
      alt="en svane som har bygget rede af plastskrald"
    />
    <div class="con_absolute">
      <div class="text_con">
        <div class="background">
          <h1 class="right">Single Use Sucks</h1>
        </div>
        <div class="background">
          <h3 class="right">
            Plastik er fint når det <span class="highlight">genbruges</span>,<br
            /> dog er det når det er single use
          </h3>
        </div>
        <div class="background">
          <h3 class="right">
            Kort sagt.<br /><span class="highlight">Vask og brug igen!</span>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <SoMe mode="dark" />
  <Nyhedsbrev mode="light" />
</BaseLayout>

<style>
  img,
  video {
    max-width: 100%;
  }
  main {
    max-width: 1200px;
    margin-inline: auto;
  }

  /**** info sektion ****/

  .info_con {
    background-color: var(--grey100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-block: var(--padding-sections);
  }

  .info_con h2 {
    text-align: center;
  }

  .con_1 {
    display: flex;
    gap: 100px;
  }

  /**** Single Use sektion ****/

  h3 {
    color: var(--grey100);
  }

  .right {
    text-align: right;
  }

  .background,
  .hero_background {
    background-color: var(--black70);
    padding-inline: 20px;
  }

  .background {
    width: fit-content;
  }

  .singleuse_section,
  .hero_con {
    position: relative;
  }

  .singleuse_section {
    background-color: var(--grey100);
  }

  .con_absolute {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .text_con {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
    padding-top: 2rem;
  }

  /*** Hero ***/

  .text_hero_con {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding-top: 10rem; /*skal måske rettes når vi putter animation på?*/
  }

  .hero_background {
    width: 570px;
  }

  .hero_con {
    overflow: hidden;
  }

  video {
    position: fixed;
    max-width: 100%;
    z-index: -999;
    top: 0;
  }

  /*** Icons ***/

  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
  }
  /*****mobile view **********/
  @media (max-width: 800px) {
    .con_1 {
      gap: 70px;
      flex-direction: column;
      padding-inline: var(--mobile-padding-inline);
    }

    .info_con,
    .icons {
      padding-inline: var(--padding-sections);
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".gsaptest", {
    color: "#ff9900",
    duration: 5,
  });
</script>
