---
import BaseLayout from "../layouts/BaseLayout.astro";
import Textbox from "../components/Textbox.astro";
---

<BaseLayout title="Plastic Change" />

<body>
    <main>
        <section class="singleuse_section">
            <img src="../assets/img/svane.webp" alt="">
        <div class="singleuse_absolute">
        <div class="text_con">
            <div class="background">
                <h1>Single Use Sucks</h1>
            </div>
            <div class="background">
                <h3>Plastik er fint når det <span class="highlight">genbruges</span>,<br> dog er det når det er single use</h3>
            </div>
            <div class="background">
                <h3>Kort sagt.<br><span class="highlight">Vask og brug igen!</span></h3>
            </div>
        </div>
        </div>
    </section>
    </main>
</body>

<style>
    img {
        max-width: 100%;
     
    }
    main {
        max-width: 1200px;
        margin-inline: auto;
    }

    h3 {
        color: var(--grey100);
        text-align: right;
    }

    .background {
        background-color: var(--black70);
        width: fit-content;
        padding-inline: 20px;
    }
   

    .singleuse_section {
        position: relative;
    }
   
    .singleuse_absolute {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .text_con {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 100px;

    }

    
</style>