---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Formular from "../components/Formular.astro";

---
<BaseLayout>
<Nav />
<section>
<div class="forms">
<Formular
overskrift="Støt os som medlem"
valg="Vælg dit årlige beløb i DKK"
hide2="not_visible"
tal1="300"
tal2="400"
tal3="500"
>
</div>

</section>
</BaseLayout>

<style>
    img {
        width: 100%;
    }
    section {
        background-image: url("../assets/img/stoet2foto.webp");
        height: 100vh;
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-position: center 10%;
        align-items: center;
    }

    .forms {
        display: flex;
        justify-content: center;
        padding-block: 100px;

    }

    @media (max-width: 800px) {
    .forms {
      padding-inline: var(--padding-sections);
    }
}
</style>
