---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Formular from "../components/Formular.astro";

---
<BaseLayout>
<Nav />
<section>
<img src="../assets/img/plasticchangerunivers13.webp" alt="havet fuldt med plastik skrald">
</Formular
overskrift = "Plastic Change"
>

</section>

<style></style>
</BaseLayout>;
