---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
---

<BaseLayout>
  <Nav />
  <div class="nav"></div>
  <section class="con">
    <div class="flex">
      <h1>Tak for din støtte!</h1>
    </div>
    <div class="img_con">
      <img src="../assets/icons/hjerte.svg" alt="Hjerte" />
    </div>
  </section>
</BaseLayout>

<style>
  .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-block: var(--padding-sections);
  }

  .img_con {
    width: 150px;
  }

  img {
    width: 100%;
  }
  h1 {
    color: var(--black);
    text-align: center;
  }
</style>
