---
---

<!-- 
<section>

    <h3>Du kan beskytte naturen, dyrelivet og vores børn mod plastik</h3>
    <p>
      Plastikforurening truer livet i havet og på jorden. Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender
      i maver på hvaler, fugle og fisk. Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu og at vi kan uddanne fremtidens forbrugere. Du bliver en del af en
      global Plastic Changer bevægelse, der siger: STOP PLASTIKFORURENING NU!
    </p>
  
  <img src="../assets/icons/citatop.svg" alt="Citat icon" />
  <p>Forskere har fundet flere store hvaler, der er døde af sult, fordi deres maver er helt fyldt af plastik – og vi ved, at der også findes mikroplast med kemikalier i meget af den mad, vi mennesker spiser.</p>
  <img src="../assets/icons/citatned.svg" alt="Citat icon" />

  <img src="../assets/img/henrik.webp" alt="henrik" />
  <p>Henrik Beha Pedersen</p>
  <p>Miljøbiolog & stifter af Plastic Change</p>
</section>
<style></style> -->
<section style="display: flex; justify-content: space-between;">
  <div style="max-width: 48%; text-align: justify;">
    <h3>Du kan beskytte naturen, dyrelivet og vores børn mod plastik</h3>
    <p>
      Plastikforurening truer livet i havet og på jorden. Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender
      i maver på hvaler, fugle og fisk. Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu og at vi kan uddanne fremtidens forbrugere. Du bliver en del af en
      global Plastic Changer bevægelse, der siger: STOP PLASTIKFORURENING NU!
    </p>
  </div>

  <div style="max-width: 48%; text-align: justify;">
    <img src="../assets/icons/citatop.svg" alt="Citat icon" />
    <p>Forskere har fundet flere store hvaler, der er døde af sult, fordi deres maver er helt fyldt af plastik – og vi ved, at der også findes mikroplast med kemikalier i meget af den mad, vi mennesker spiser.</p>
    <img src="../assets/icons/citatned.svg" alt="Citat icon" />
    <div>
      <img src="../assets/img/henrik.webp" alt="henrik" />
      <p>Henrik Beha Pedersen</p>
      <p>Miljøbiolog & stifter af Plastic Change</p>
    </div>
  </div>
</section>
<style>
  div {
    justify-content: center;
  }
  section {
    background-color: var(--grey100);
    padding: 5rem;
  }
</style>
