---
import Cta from "../components/Cta.astro";
import Prisknap from "../components/Prisknap.astro";

const { overskrift, valg} = Astro.props;
---


<section>
    <h3>{overskrift}</h3>
    <p>{valg}</p>          
      <div class="form_con">
        <div class="form_buttons">
            <Prisknap
            tal="50"/>
            <Prisknap
            tal="75"/>
            <Prisknap
            tal="125"/>
        </div>
        
        <form class="form_con" action="">
            <label for="name"></label><input type="text" placeholder="Andet beløb" />
        <div class="radio-toolbar">
            <h3 class="betal_overskrift">Betalingsform</h3>
            <div class="radio_indhold"><input type="radio" name="betaling" id="mobilepay" required="required"><label class="small" for="mobile">Mobilepay </label> <br></div>
            <div class="radio_indhold"><input type="radio" name="betaling" id="kort" required="required"><label class="small" for="kort">Betalingskort</label><br></div>
        </div>


        <div class="input-con"><label for="name">Fornavn<span>*</span></label><input type="text" /></div>
        <div class="input-con"><label for="lname">Efternavn<span>*</span></label><input type="text" /></div>
        <div class="input-con"><label for="mail">Email<span>*</span></label><input type="text"/></div>
        <div class="input-con"><label for="phone">Telefon</label><input type="text"/></div>
        <div class="input-con"><label for="postalcode">Postnr.</label><input type="text"></div>
        <div class="mellemrum"><input type="checkbox" name="fradrag" id="fradrag"><label id="skat" class="small" for="fradrag">Jeg ønsker fradrag fra SKAT</label></div>
        <div class="mellemrum"><input type="checkbox" name="samtykke" id="samtykke" required="required"><label class="detmedsmaat" for="mobile">Jeg giver mit samtykke til, at Plastic Change må opbevare og behandle mine oplysninger til brug i forbindelse med min støtte. Læs mere om dette samtykke i vores <span><a href="http://www.google.com">privatlivspolitik.</a></span> </label></div>
            
        </form>

        <div class="knap_con">
        <Cta title="Støt" link="/tak" type="solid" /></div>
    </div>
</section>

<style>
    

    section, .form_con, .knap_con, .mellemrum, .form_buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    
    .mellemrum, .form_buttons {
        flex-direction: row;
    
        padding-top: 1.5rem;
    }

    .input-con, .radio-toolbar {
        padding-top: 1.5rem;

    }

    .radio-toolbar .small{
        padding-bottom: 1.5rem;
    }

    .radio-toolbar  {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
   

    section {
        padding: 3rem;
        background-color: var(--grey100);
    }
    .knap_con {
        padding-top: 2rem;
        align-items: center;
    }
    input[type=text], select { 
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid var(--grey500);
        border-radius: 4px;
        box-sizing: border-box;}
    .form_con {
    max-width: 500px;
    }

    label, .betal_overskrift {
    font-family: "Rubik", sans-serif;
    font-size: 1.4375rem;
    font-weight: var(--medium);}
    
    span, a {
    color: var(--red500);}

    .small {
        font-family: "Rubik", sans-serif;
        font-size: 1.4375rem;
        font-weight: 400;
        color: var(--grey500);
        padding-left: 0.5rem;

    }

    .detmedsmaat {
        font-family: "Rubik", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--grey500);

    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    #skat {
        padding-left: 0rem;
    }
    
</style>