---
const { overskrift} = Astro.props;
---


<section>
    <h3>{overskrift}</h3>
    <p>Hello</p>

</section>




<style>
    section {
        background-color: pink;
        height: 100px;
    }
</style>