---
const { text, procent, icon, ringp } = Astro.props;
---

<section class="con" id="info_con">
  <p class="highlight">{procent}</p>
  <p>{text}</p>
  <div class="ring" id={ringp}>
    <div class="icon_ring">
      <img src={icon} alt="" />
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from("#info_con", {
    y: 100,
    opacity: 0,
    duration: 1.5,
    scrollTrigger: {
      trigger: "#info_con",
      start: "top 70%",
      /*       markers: true, */
    },
  });

  gsap.to(".ring", {
    scrollTrigger: {
      trigger: "#info_con",
      start: "top 70%",
      /*       markers: true, */
      toggleClass: "run",
    },
  });
</script>
<style>
  .highlight {
    font-family: "Rubik", sans-serif;
    font-size: 3.75rem;
    font-weight: 500;
  }

  p {
    text-align: center;
  }

  .ring {
    margin-top: 2rem;
    height: 270px;
    width: 270px;
    border-radius: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .icon_ring {
    height: 135px;
    width: 135px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  img {
    max-width: 85%;
    flex-shrink: 0;
    padding-bottom: 10px;
  }

  .con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /***** Mobile ******/
  @media (max-width: 800px) {
    img {
      width: 7rem;
    }

    .highlight {
      font-family: "Rubik", sans-serif;
      font-size: 3rem;
      font-weight: 500;
    }
  }

  @property --percentage {
    initial-value: 0%;
    inherits: false;
    syntax: "<percentage>";
  }

  #p70,
  #p40,
  #p32,
  #p22,
  #p14,
  #p8 {
    background: conic-gradient(
      var(--red100) var(--percentage),
      var(--grey100) 0
    );
    border-radius: 50%;
  }

  #p70 {
    animation: p70 2s 1 ease-in-out forwards;
  }

  #p40 {
    animation: p40 2s 1 ease-in-out forwards;
  }

  #p32 {
    animation: p32 2s 1 ease-in-out forwards;
  }

  #p22 {
    animation: p22 2s 1 ease-in-out forwards;
  }

  #p14 {
    animation: p14 2s 1 ease-in-out forwards;
  }

  #p8 {
    animation: p8 2s 1 ease-in-out forwards;
  }

  .paused {
    animation-play-state: paused;
  }

  .run {
    animation-play-state: running;
  }

  @keyframes p70 {
    to {
      --percentage: 70%;
    }
  }

  @keyframes p40 {
    to {
      --percentage: 40%;
    }
  }

  @keyframes p32 {
    to {
      --percentage: 32%;
    }
  }

  @keyframes p22 {
    to {
      --percentage: 22%;
    }
  }

  @keyframes p14 {
    to {
      --percentage: 14%;
    }
  }

  @keyframes p8 {
    to {
      --percentage: 8%;
    }
  }

</style>
