---
import Cta from "./Cta.astro";
---

<header>
  <a href="/">Plastic Change</a>
  <div class="con">
    <Cta title="Bliv medlem" link="/medlem" type="line" />
    <Cta title="Støt" link="/stoet1" type="solid" />
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    width: 100%;
    height: 74px;
  }

  .con {
    display: flex;
    padding-right: 2rem;
    gap: 10px;
  }
  a {
    font-family: campton-semibold;
    font-size: 2.3125rem;
    color: var(--white);
    padding-left: 2rem;
    transition: 300ms;
    text-decoration: none;
  }

  a:hover {
    color: var(--grey400);
  }
</style>
