---
import Cta from "./Cta.astro";
const { mode } = Astro.props;
---

<section class={mode}>
  <div class="con">
    <h2>Tilmeld dig vores nyhedsbrev her</h2>
    <p>
      Følg med i vores arbejde mod plastikforurening, og bliv opdateret med de
      seneste nyheder
    </p>
  </div>
  <form>
    <input type="email" placeholder="Email" />
    <Cta title="tilmeld" type="solid" />
  </form>
</section>
<style>
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    z-index: 12;
    padding-block: var(--padding-sections);
  }

  .dark {
    background-color: var(--grey100);
    z-index: 12;
    position: relative;
  }

  .light {
    background-color: var(--white);
    z-index: 12;
    position: relative;
  }
  input {
    padding-inline: 16px;
    font-size: 1rem;
    width: 100%;
    height: 3.125rem;
    border: 1px solid var(--grey500);
    max-width: 450px;
  }

  input[type=text], select { 
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid var(--grey500);
        border-radius: 4px;
        box-sizing: border-box;}

  form {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-inline: 20px;
  }

  h2,
  p {
    text-align: center;
  }

  /***** Mobile ******/
  @media (max-width: 800px) {
    .con {
      display: flex;
      flex-direction: column;
      padding-inline: var(--mobile-padding-inline);
      gap: 10px;
    }

    form {
      margin:0;
      padding-inline: var(--mobile-padding-inline);
    }
    
  }


</style>
