---

---

<section style="display: flex; justify-content: space-between;">
  <div>
    <h3>Vi bruger dit bidrag med omtanke</h3>
    <p>
      Din støtte går primært til hav- og miljøindsatser, der fokuserer på at
      reducere plastforurening både nationalt og internationalt. Dette opnås
      gennem oplysning, vidensdeling, events, undervisning og foredrag for at
      mobilisere en voksende Plastic Changer-bevægelse.
    </p>
    <p>
      Vi leder også årlige naturrydninger i samarbejde med globale
      organisationer. En del af din støtte anvendes til at påvirke politisk
      beslutningstagning for at styrke miljølovgivningen til beskyttelse af
      kloden. En mindre del støtter fundraising for at sikre bevægelsens vækst,
      og en anden del går til administration og faciliteter for Plastic Change.
    </p>
  </div>

  <div class="img_con">
    <img
      src="../assets/img/plasticchangerunivers13.webp"
      alt="Plastic changer"
    />
  </div>
</section>

<style>
  section {
    background-color: var(--grey100);
    padding-block: var(--padding-sections);
    padding-inline: 5rem;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .img_con {
    max-width: 48%;
  }

  @media (max-width: 800px) {
    section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-inline: var(--mobile-padding-inline);
    }
    .img_con {
      max-width: 100%;
    }
  }
</style>
