---
import Hjerte from "../components/Hjerte.astro";
const { mode } = Astro.props;
---

<section class={mode}>
  <h2>Støt os i kampen mod plastikforurening</h2>
  <div class="hjerte_con">
    <Hjerte mode="center" />
  </div>
  <p>Dit bidrag går til hav- og miljøindsatser</p>

  <div class="con">
    <a href="https://www.facebook.com/plasticchange/"
      ><img src="../assets/icons/facebook.svg" alt="Facebook icon" />
    </a>
    <a href="https://www.linkedin.com/company/plastic-change/">
      <img src="../assets/icons/linkedin.svg" alt="linkedin icon" />
    </a>
    <a href="https://twitter.com/plasticchange">
      <img src="../assets/icons/twitter.svg" alt="Twitter icon" />
    </a>
    <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g">
      <img src="../assets/icons/youtube.svg" alt="Youtube icon" />
    </a>
    <a href="https://www.instagram.com/plasticchange">
      <img src="../assets/icons/instagram.svg" alt="Instagram icon" />
    </a>
  </div>
  <p>Følg os her</p>
</section>
<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    gap: 20px;
  }

  .con {
    display: flex;
    gap: 15px;
    text-align: center;
  }
  h2,
  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .dark {
    background-color: var(--grey100);
  }

  .light {
    background-color: var(--white);
  }
</style>
