---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<section>
    <div>
        <h3>HELLO WORLD</h3>
    </div>
<h3>HELLO WORLD</h3>
</section>

<style>

    section {
        height: 200px;
        background-color: black 70%;
    }
</style>
